<%-include('cabecalho.ejs')%>
    
    <style>
        form {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 300px;
        }
    
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    
        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="submit"] {
            margin-bottom: 10px;
            width: calc(100% - 12px);
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
    
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>

    <form method="post">

        <label for="atividadeidentificador">Identificador</label>
        <input type="number" name="identificador" id="identificador" required placeholder="Informe o número identificador da atividade"><br>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Informe o nome da atividade"><br>

        <label for="duracao">Duração</label>
        <input type="time" name="duracao" id="duracao" required placeholder="Informe a duracão da atividade"><br>
       
        <label for="local">Local</label>
        <input type="text" name="local" id="local" required placeholder="Informe o local da atividade"><br> 

        <label for="pontuacao">Pontuação</label>
        <input type="number" name="pontuacao" id="pontuacao" required placeholder="Informe a pontuação da atividade"><br>
         
        <label for="numparticiantes">Número de participantes</label>
        <input type="number" name="numparticiantes" id="numparticiantes" required placeholder="Informe o  número de participantes"><br>

        <label for="ano">Ano</label>
        <input type="date" name="ano" id="ano" required placeholder="Informe o ano"><br>
        
        <input type="submit" value="Adicionar">
    </form>
    <%-include('rodape.ejs')%>