<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Atividade</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="identificador">Identificador</label>
        <input type="number" name="identificador" id="identificador" required placeholder="Informe o número identificador da atividade"><br>

        <label for="duracao">Duração</label>
        <input type="time" name="duracao" id="duracao" required placeholder="Informe a duracão da atividade"><br>
       
        <label for="local">Local</label>
        <input type="text" name="local" id="local" required placeholder="Informe o local da atividade"><br> 

        <label for="pontuacao">Pontuação</label>
        <input type="number" name="pontuacao" id="pontuacao" required placeholder="Informe a pontuação da atividade"><br>
         
        <label for="numparticiantes">Número de participantes</label>
        <input type="number" name="numparticiantes" id="numparticiantes" required placeholder="Informe o  número de participantes"><br>

        <label for="ano">Ano</label>
        <input type="date" name="ano" id="ano" required placeholder="Informe o ano"><br>


        <input type="submit" value="Adicionar">
    </form>
</body>
</html>