<%- include('cabecalho.ejs') %>
<title>Adicionar Equipe</title>

<style>
    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 300px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="submit"] {
        margin-bottom: 10px;
        width: calc(100% - 12px);
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }
</style>

<form method="post">
    <label for="identificador">Identificador</label>
    <input type="number" name="identificador" id="identificador" required placeholder="Informe o número identificador">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required placeholder="Informe o nome da equipe">

    <label for="cor">Cor</label>
    <input type="text" name="cor" id="cor" required placeholder="Informe a cor da equipe">

    <label for="ano">Ano</label>
    <input type="date" name="ano" id="ano" required placeholder="Informe o ano">

    <label for="integrantes">Número de Integrantes</label>
    <input type="number" name="integrantes" id="integrantes" required placeholder="Informe o número de integrantes">

    <input type="submit" value="Adicionar">
</form>

<%- include('rodape.ejs') %>
