<%-include('cabecalho.ejs')%>
<form method="post">
    <label for="nmrvaga">Número da Vaga</label>
    <input type="number" name="nmrvaga" id="nmrvaga" required placeholder="Digite o Número da Vaga."><br>
    <label for="presidente">Presidente</label>
    <input type="number" name="presidente" id="presidente" required placeholder="Digite o número do presidente em que deseja votar:."><br>
    <label for="governador">Governador</label>
    <input type="number" name="governador" id="governador" required ="Digite o número do governador em que deseja votar:"><br>
    <label for="senador">Senador</label>
    <input type="number" name="senador" id="senador" required="Digite o número do Senador em que deseja votar:"><br>
    <label for="depfed">Deputado Federal</label>
    <input type="number" name="depfed" id="depfed" required="Digite o Número do Deputado Federal em que deseja votar:"><br>
    <label for="depestad">Deputado Estadual</label>
    <input type="number" name="depestad" id="depestad" required="Digite o Número do Deputado Estadual em que deseja votar:"><br>
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>