<%-include('cabecalho.ejs')%>
<form method="post">

    <label for="equipeidentificador">Identificador</label>
    <input type="number" name="identificador" id="identificador" required placeholder="Informe o númeor identificador"><br>
   
    <label for="nome">Nome</label> 
    <input type="text" name="nome" id="nome" required placeholder="Informe o nome da equipe"><br>
   
    <label for="cor">Cor</label>
    <input type="text" name="cor" id="nome" required ="Infomr  cor da equipe"><br>
    
    <label for="ano">Ano</label>
    <input type="date" name="ano" id="ano" required="Informe o ano"><br>
   
    <label for="integrantes">Número de integrantes</label>
    <input type="number" name="integrantes" id="integrantes" required="Informe o número de integrantes"><br>

    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>