<%-include('cabecalho.ejs')%>
<form method="post">
    <label for="eleicano">Ano da Eleição</label>
    <input type="number" name="eleicano" id="eleicano" required placeholder="Digite o ano Eleição."><br>
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>