<%-include('cabecalho.ejs')%>
<form method="post">
    <label for="fiscalidentificador">Identificador</label>
    <input type="number" name="fiscalidentificador" id="fiscalidentificador" required placeholder="Informe o número identificador"><br>
   
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required placeholder="Informe o nome"><br>
   
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>