<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="container">
    <div class="row">
        <div class="col">
            <h1>Sistema de gerenciamento da gincana do IFSul</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul>
                <li><a href="/addaluno">Adicionar Aluno</a></li>
                <li><a href="/lstaluno">Listar Alunos</a></li>

                <li><a href="/addequipe">Adicionar Equipe</a></li>
                <li><a href="/lstequipe">Listar Equipe</a></li>

                <li><a href="/addfiscal">Adicionar Fiscal</a></li>
                <li><a href="/lstfiscal">Listar Fiscal</a></li>

                <li><a href="/addatividade">Adicionar Atividade</a></li>
                <li><a href="/lstatividade">Listar Atividades</a></li>


            </ul>
        </div>
        <div class="col-8">