<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body class="container">
    <div class="row">
        <div class="col">
            <h1>Sistema de Eleições</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul>
                <li><a href="/addvaga">Adicionar Vaga</a></li>
                <li><a href="/lstvaga">Listar Vagas</a></li>
                <li><a href="/addeleicao">Adicionar Eleição</a></li>
                <li><a href="/lsteleicao">Listar Eleições</a></li>
                <li><a href="/addlocalvota">Adicionar Local de Votação</a></li>
                <li><a href="/lstlocalvota">Listar Locais de Votação</a></li>
            </ul>
        </div>
        <div class="col-8">